@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit*/
    font-family: 'Raleway', sans-serif;
}

body {
    padding-left: 6%;
    padding-right: 6%;
}


/*En-tête !!!*/
header {
    line-height: 20px;
}

header h1 {
    font-size: 30px;
}

header p {
    font-size: 20.5px;
}

.nav {
    display: flex;
}

.nav a {
    padding: 45px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 60px;
    width: 230px;
    text-align: center;
}

.nav a:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.nav_link {
    display: flex;
    margin-left: auto;
}

#logo{
    width: 120px;
    margin: 60px 0 20px 20px
}

/*Formulaire*/
.formulaire {
    position: relative;
    height: auto;
}

.marker {
    background-color: #f2f2F2;
    color: black;
    border-radius: 20px 0 0 20px;
    font-size: 22px;
    padding: 21px;
}

input {
    border: 1px solid #f2f2F2;
    font-weight: bold;
    height: 64px;
    width: 20%;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 58px;
}

.search {
    background-color: #0065FC;
    color: white;
    border-radius: 0 20px 20px 0;
    width: 175px;
    height: 64px;
    font-weight: 900;
    font-size: 20px;
    border-style: none;
    position: absolute;
    top: 0;
    left: 20%;
}

.loupe {
    opacity: 0;
}
/*Formulaire*/

/*Barre filtres*/
.filter {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 1300px;
    padding: 0;
    margin: 30px 0 0 0;
    position: absolute;
    top: 300px;
}

.filter li {
    padding-right: 5px;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
}

.filter p {
    margin-right: 15px;
    margin-left: 10px;
    align-self: center;
}

#title_filter {
    border: none;
    font-size: 22px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    list-style-type: none;
    border-radius: 50px;
    border: #d1cece 3px solid;
    margin-left: 2%;
    margin-bottom: 20px;
    align-self: baseline;
    height: 65px;
}

.container:hover {
    color: #0065FC;
    cursor: pointer;
    box-shadow: 2px 2px 10px grey;
    transition: .5s;
}

.icon {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    border-radius: 90%;
    font-size: 24px;
    position: relative;
    right: 5px;
    height: 64px;
    align-self: center;
}

.child {
    align-self: center;
}

.child::before {
    padding: 0 3px 0 3px;
}
/*Barre filtres*/
.info {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

#info_icon {
    color: #0065FC;
    font-size: 15px;
    border: 1px solid #dad8d8;
    border-radius: 90%;
    padding: 7px 11px 7px 11px;
    margin-right: 10px;
}
/*Main*/
.main {
    display: flex;
    justify-content: space-between;
}

/* Article principale*/
main a {
    width: 30%;
    text-decoration: none;
    color: black;
    margin: auto;
}

article {
    background-color: #f2f2F2;
    border-radius: 20px;
    width: 66%;
}

article h1 {
    font-size: 28px;
    margin: 0;
    padding: 50px 0 30px 50px;
}

article h2 {
    line-height: 20px;
}

.card_box {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
}

.card { 
    background-color: white;
    border-radius: 20px;
    box-shadow: #c5c5c5 2px 2px 15px;
    height: 253px;
    margin: 0;
}

.card_image {
    height: 150px;
}

.card_image img {
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 20px 20px 0 0;
    object-fit: cover; 
}

.card_body {
    line-height: 10px;
    padding-left: 5%;
}

.card_body h2 {
    font-size: 20px;
}

i {
    font-size: 17px;
    color: #0065FC;
    padding-bottom: 3%;
}

.grey_star {
    color: #b8b8b8;
}

.text-bold {
    font-weight: bold;
}

#ligne01 {
    display: flex;
    margin-bottom: 40px;
}

#ligne02 {
    display: flex;
    margin-bottom: 40px;
}

#afficher {
    font-weight: 900;
    padding-left: 40px;
    padding-bottom: 3%;
    font-size: 24px;
}
/* Article principale*/

/*Aside*/
aside {
    background-color: #f2f2F2;
    border-radius: 20px;
    width: 31%;
    padding-bottom: 10px;
}

aside h1 {
    font-size: 28px;
    margin: 0;
    padding: 50px 0 30px 40px;
}

aside a {
    width: 90%;
    margin-bottom: 40px;
}

.aside_title {
    position: relative;
}

#graph {
    font-size: 30px;
    color: black;
    position: absolute;
    right: 6%;
    bottom: 15px;
}

#card_box02 {
    display: flex;
    flex-direction: column;
}

.card_popu {
    height: 190px;
    background-color: white;
    border-radius: 20px;
    box-shadow: #c5c5c5 2px 2px 15px;
    display: flex;
    margin: 0 2% 0 2%;
}

.card_image_popu {
    width: 180px;
}

.card_image_popu img {
    width: 100%;
    height: 100%;
    padding: 4%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.card_body_popu {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_body_popu h2 {
    font-size: 20px;
    margin: 17px 0 0 0 ;
}

.star {
    font-size: 14px;
    margin: 50px 0 5px 0;
}
/*Aside*/

/*Activites*/
section a {
    text-decoration: none;
    color: black;
    width: 25%;
    margin: auto;
}

#activites {
    margin-top: 70px;
    margin-bottom: 70px;
}

#activites p {
    font-size: 20px;
    font-weight: 900;
    padding-left: 25px;
}

.activite_pictures {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activite_pictures img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.port, .parc {
    border-radius: 20px;
    box-shadow: #e0e0e0 4px 4px 15px;
    height: 550px;
    overflow: hidden;
}

#port_img, #parc_img {
    height: 480px;
}

.fort, .longchamp {
    border-radius: 20px;
    box-shadow: #e0e0e0 4px 4px 15px;
    height: 300px;
    overflow: hidden;
}

#fort_img, #longchamp_img {
    height: 230px;
}

.ile, .eglise {
    border-radius: 20px;
    box-shadow: #e0e0e0 4px 4px 15px;
    height: 200px;
    overflow: hidden;
}

#ile_img, #eglise_img {
    height: 130px;
}

.ile, .fort {
    margin: 0 13% 0 13%;
}

.parc {
    margin-right: 13%;
}
/*Activites*/

/*Bas de page*/
footer {
    background-color: #f2f2F2;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    padding: 110px;
}

.footer_part{
    flex-direction: column;
    min-width: 350px;
}

.footer-end {
    margin-right: 300px;
}

footer h1 {
    font-size: 24px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 35px;
}

footer li{
    width: 300px;
    font-size: 20px;
}

/*Ajustements relatifs à la taille de la fenêtre*/
@media (min-width: 993px) and (max-width: 1153px) {
    .filter {
        width: auto;
    }

    .info {
        margin-top: 120px;
    }
}

/*Ajustements etoiles cartes poopulaires*/
@media (min-width: 1370px) and (max-width: 1550px) {
    .star-popu3 {
        margin-top: 25px;
    }
}

@media (min-width: 1045px) and (max-width: 1369px) {
    .star-popu3 {
        margin-top: -25px;
    }
}

@media (min-width: 1511px) and (max-width: 1530px) {
    .star-popu2 {
        margin-top: 25px;
    }
}

@media (min-width: 1357px) and (max-width: 1510px) {
    .star-popu2 {
        margin-top: 0;
    }
}

@media (min-width: 1045px) and (max-width: 1356px) {
    .star-popu2 {
        margin-top: -25px;
    }
}

@media (min-width: 1445px) and (max-width: 1530px) {
    .star-popu1 {
        margin-top: 25px;
    }
}

@media (min-width: 1045px) and (max-width: 1445px) {
    .star-popu1 {
        margin-top: 0;
    }
}

@media (min-width: 993px) and (max-width: 1044px) {
    .card_body_popu {
        justify-content: flex-start;
    }
    aside i {
        font-size: 14px;
    }
    .star {
        margin-top: 10px;
    }
    .star-popu2 {
        margin-top: -10px;
    }
}

/* Ajustement pictogramme aside*/
@media (min-width: 1099px) and (max-width: 1365px) {
    aside h1 {
        width: 250px;
    }
}

@media (min-width: 993px) and (max-width: 1365px) {
    #graph {
        bottom: 40px;
    }
}

/*Ajsutements cartes hebergement*/
@media (min-width: 993px) and (max-width: 1395px) {
    .card{
        height: 300px;
    }
}

/*Ajustements formulaire recherche*/
@media (min-width: 993px) and (max-width: 1600px) {
    input {
        width: 280px;
    }
    .search {
        left: 280px;
    }
}